@import "variables.scss";
@import "mixins.scss";
@import "global.scss";

@import "social_buttons";
@import "presets";
@import "utilities";

@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

@import "photos.scss";


.masthead {
  height: 100vh;
  // min-height: 500px;
  background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

// Not used
.main {
  background-image: url('../images/background.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(blue, 0.5);
  height: 100vh;
}
