---
title: Resume
---

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Emmanuel Chigbo</span>
    <span class="d-none d-lg-block">
      <%= image_tag "avatar.jpg", width: '150px', class: 'img-thumbnail rounded-circle mx-auto' %>
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
      <h1 class="mb-0">Emmanuel
        <span class="text-primary">Chigbo</span>
      </h1>
      <div class="subheading mb-5">Software Engineer ·
        <a href="mailto:chigboemmanuel@gmail.com">chigboemmanuel@gmail.com</a>
      </div>
      <p class="lead mb-5">I’m a full-stack software engineer with very strong experience in web application development with Ruby on Rails and accompanying technologies. I enjoy working with a remote-friendly engineering team and I have lots of experience working in fully distributed teams.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/chigboemmanuel">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/chigboio">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://twitter.com/Chigbo__">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
      <h2 class="mb-5">Experience</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Software Engineer</h3>
          <div class="subheading mb-3">GitHub</div>
          <p>I work with the New User Experience team at GitHub to design, architect and build features and experiments that focus on improving the experience of new users of GitHub.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">October 2019 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Senior Software Engineer</h3>
          <div class="subheading mb-3">Andela</div>
          <p>At Andela, I work as a remote team member with the engineering team of Andela's partners - first was Daybear, then Hingeto, now with GitHub. I have also been part of the team that built the internal application tool for partner placement used to select and assign developers to new partners.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">October 2015 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">Contract Software Engineer</h3>
          <div class="subheading mb-3">Headliner</div>
          <p>I work as a contract developer for Headliner (formerly Agoratix) building a sophisticated ticketing service that allows concert fans to buy tickets, sell tickets and bid the amount they're willing to spend on a ticket.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">January 2018 - December 2019</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">Software Engineer</h3>
          <div class="subheading mb-3">Hingeto</div>
          <p>I worked with the engineering team building the Hingeto's No Rist Store and the Dropship app. On a daily basis, I work on feature integrations, feature design, environment configuration, and bug fixes. I brainstorm with the team to choose the best tools, libraries, technologies, and architecture for different pieces of the platform.</p>

          <p>Hingeto is a technology platform that enables fashion brands & influencers to sell past and future masterpieces with zero inventory risk.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">January 2017 - March 2019</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">Software Engineer</h3>
          <div class="subheading mb-3">Daybear</div>
          <p>At Daybear, I worked with the engineering team brainstorming, architecting, modeling, designing and implementing the web platform that connects parents to the best fitting, close and affordable childcare homes around them. It takes a village to raise a child, they say, I'm proud to have worked with the team that makes that happen.</p>

          <p>Daybear is a platform that gives caregivers the opportunity to provide childcare in their homes while offering parents a trusted source for finding safe, nurturing, accessible childcare for infants to preschoolers.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">August 2016 - December 2016</span>
        </div>
      </div>

    </div>

  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">Education</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <h3 class="mb-0">University of Nigeria</h3>
          <div class="subheading mb-3">Bachelor of Science</div>
          <div>Computer Science</div>
          <p>Director of Software, National Association of Computer Science Student</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">May 2009 - July 2013</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
        <div class="resume-content">
          <h3 class="mb-0">Special Science School, Ukehe</h3>
          <div class="subheading mb-3">WAEC, NECO</div>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">2005 - 2008</span>
        </div>
      </div>

    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
    <div class="w-100">
      <h2 class="mb-5">Skills</h2>

      <div class="subheading mb-3">Programming Languages &amp; Tools</div>
      <ul class="list-inline dev-icons">
        <li class="list-inline-item" title="Ruby">
          <i class="icon-ruby"></i>
        </li>
        <li class="list-inline-item" title="Ruby on Rails">
          <i class="icon-ruby-on-rails-alt"></i>
        </li>
        <li class="list-inline-item" title="Git">
          <i class="fab fa-git-alt"></i>
        </li>
        <li class="list-inline-item" title="Heroku">
          <i class="icon-heroku"></i>
        </li>
        <li class="list-inline-item" title="Javascript">
          <i class="fab fa-js-square"></i>
        </li>
        <li class="list-inline-item" title="jQuery">
          <i class="icon-jquery"></i>
        </li>
        <li class="list-inline-item" title="Node JS">
          <i class="fab fa-node-js"></i>
        </li>
        <li class="list-inline-item" title="React JS">
          <i class="fab fa-react"></i>
        </li>
        <li class="list-inline-item" title="Sass">
          <i class="fab fa-sass"></i>
        </li>
        <li class="list-inline-item" title="Docker">
          <i class="icon-docker"></i>
        </li>
      </ul>

      <div class="subheading mb-3">Workflow</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          Test Driven Development
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Agile Development &amp; Scrum
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Heroku Platform: Deployment, CI, Review apps
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>
          A/B Experimental Testing
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Excelent Team Player
        </li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Excelent Oral/Written Communication Skills
        </li>
      </ul>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
    <div class="w-100">
      <h2 class="mb-5">Interests</h2>
      <p>I started programming as a fun activity. It's still IS a fun activity of mine. I enjoy building tools and platform integrations. </p>
      <p class="mb-0">When my fingers are not on the keyboard, I can be found reading, listening to music, watching movies or having a good time with friends.</p>
    </div>
  </section>

  <hr class="m-0">

  <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="projects">
    <div class="w-100">
      <h2 class="mb-5">Projects</h2>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <div class="subheading mb-3">Ziri</div>
          <div></div>
          <p>Ziri is a Slack app that helps one retweet a tweet from Slack by adding a reaction to the message that contains a tweet link.</p>
          <p>The app has powered over 17,233 retweets and tweet favorites for over 788 users across more than 92 Slack teams thereby saving users thousands of minutes of clicking tweet links and going to Twitter to retweet/fav a tweet.</p>
          <p><a href="https://ziri.herokuapp.com">View app</a></p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Sep 2017 - Present</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="resume-content">
          <div class="subheading mb-3">MakeCV</div>
          <div></div>
          <p>MakeCV is a resume builder that collects user's raw information in an easy-to-fill form and produces a beautiful resume with a very customizable layout.</p>
          <p>With MakeCV you can create different resumes with different focus information and different style and layout based on the company's and job role's needs. You can make different CVs for different job applications.</p>
          <p><a href="https://makecv.herokuapp.com">View app</a></p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Dec 2016 - Present</span>
        </div>
      </div>
    </div>
  </section>

</div>
