---
title: Home
---

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <%= image_tag "avatar.jpg", width: '150px', class: 'img-thumbnail rounded-circle mx-auto' %>
        <h2 class="font-weight-light">Emmanuel Chigbo</h2>
        <p class="lead">Software Engineer</p>

        <div>
          <a class="btn btn-sm btn-social-icon btn-linkedin" target="_blank" href="https://www.linkedin.com/in/chigboemmanuel">
            <i class="fa fa-linkedin"></i>
          </a>

          <a class="btn btn-sm btn-social-icon btn-github" target="_blank" href="https://github.com/ChigboIO">
            <i class="fa fa-github"></i>
          </a>

          <a class="btn btn-sm btn-social-icon btn-twitter" target="_blank" href="https://twitter.com/Chigbo__">
            <i class="fa fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- <div class="main"></div> -->
